button.wai-btn {
	background: $purple;
	border-radius: 100px;
	border: 3px solid white;
	padding: 15px 20px;
	text-align: center;
	color: white;
	box-shadow: none;
	text-transform: uppercase;
	font-family: 'ceragr-blackuploaded_file';
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
	min-width: 200px;
	&.wai-btn-pink {
		background-color: $pink;
		&:hover {
			transition: all 200ms ease;
			background: darken($pink, 15%);
		}
	}
	&.btn-hero {
		padding: 18px 20px;
	}
	&.wai-btn-purple {
		background-color: lighten($purple, 10%);
		margin-bottom: 0px;
		&:hover {
			transition: all 200ms ease;
			background: darken($purple, 5%);
		}
	}
	&.wai-btn-white {
		background-color: white;
		border: 3px solid $purple;
		color: $purple;
		&:hover {
			color: white;
		}
	}
	&.wai-btn-edit {
		border: 3px solid white;
	}
	&.wai-btn-mini {
		border: 2px solid white; 
		font-size: 7px;
		margin-left: 6px;
		min-width: 40px;
		padding: 3px;
	}
	&.carousel-modal-btn {
		min-width: 125px;
		padding: 10px;
	}
	&.entertainers-btn {
    	// justify-content: flex-start;
    	margin-top: 20px;
    	min-width: 300px;
    	width: 50%;
    	@include media-breakpoint-down(sm) {
	        width: 100%;       
	    }
	}
	&.wai-btn-long {
		@include media-breakpoint-down(sm) {
	        width: 100%;       
	    }
	}
	&.invite-btn {
		box-shadow: 0 0 20px lighten($black, 70%);
		min-width: 200px;
	}
	&.thankyou-button {
        min-width: 50px;
        width: 48%;
        @include media-breakpoint-down(md) {
        	flex-wrap: nowrap;
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
        	width: 100%;
        }  
    }
	&.cms-btn {
		width: 100%;
		margin-bottom: 20px;
		&.cms-btn-white {
			border: 3px solid white;
		}
	}
	&:hover {
		transition: all 200ms ease;
		background: darken($purple, 10%);
	}
}