button.wai-btn {
	background: $purple;
	border-radius: 100px;
	border: 3px solid white;
	padding: 15px 20px;
	text-align: center;
	color: white;
	box-shadow: none;
	text-transform: uppercase;
	font-family: 'ceragr-blackuploaded_file';
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	min-width: 200px;
	&.wai-btn-pink {
		background-color: $pink;
	}
	&:hover {
		transition: all 200ms ease;
		background: darken($purple, 10%);
	}
}