/* Party Package */
.party-packages-carousel {
	.carousel-cell {
		margin-right: 25px;
		width: 300px;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		h2 {
			color: $pink;
			font-family: 'ceragr-blackuploaded_file';
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1px;
		}
		.price-bookings-wrapper {
			display: flex;
			justify-content: space-between;
			.price-wrapper {
				align-self: flex-end;
				p {
					margin-bottom: 0;
					&.price {
						font-size: 22px;
						font-weight: 600;
					}
				}
			}
			.bookings-wrapper {
				align-self: flex-end;
				text-align: right;
				p {
					margin-bottom: 0;
					&.booking {
						font-weight: 600;
					}
				}
			}
		}
	}
}

/* All Carousels */
.star-rating {
	display: flex;
	span {

	}
	p {

	}
}

.carousel {
	.flickity-prev-next-button {
		background: transparent;
	}

	.flickity-prev-next-button:hover {
		background: transparent;
	}

	/* arrow color */
	.flickity-prev-next-button .arrow {
		fill: lighten($black, 75%);
	}

	.flickity-prev-next-button.no-svg {
		fill: lighten($black, 75%);
	}

	/* position outside */
	.flickity-prev-next-button.previous {
		left: -40px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.flickity-prev-next-button.next {
		right: -40px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}