/* Party Package */
.party-packages-carousel {
	.carousel-cell {
		margin-right: 25px;
		width: 300px;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		h2 {
			color: $pink;
			font-family: 'ceragr-blackuploaded_file';
			text-transform: uppercase;
			font-size: 19px;
			letter-spacing: 1px;
		}
		.price-bookings-wrapper {
			display: flex;
			justify-content: space-between;
			.price-wrapper {
				align-self: flex-end;
				p {
					margin-bottom: 0;
					&.price {
						font-size: 22px;
						font-weight: 600;
					}
				}
			}
			.bookings-wrapper {
				align-self: flex-end;
				text-align: right;
				p {
					margin-bottom: 0;
					&.booking {
						font-weight: 600;
					}
				}
			}
		}
	}
	&.venues-carousel {
		.carousel-cell {
			.venue-img-wrapper{
				position: relative;
				img {

				}
				.img-content-overlay {
					position: absolute;
					left: 1rem;
					bottom: 2rem;
					p {
						color: white;
						margin-bottom: 0;
						&.price {
							font-size: 24px;
							text-shadow: 0px 0px 6px rgba(100, 100, 100, 1);
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	&.reviews-carousel {
		.carousel-cell {
			width: 100%;
		    @include media-breakpoint-down(xs) {
				width: 300px;
				margin-right: 25px;
		    }
	    	.image-wrapper {
	    		align-items: center;
	  			display: flex;
	  			margin-bottom: 20px;
	    		img.img-circle {
	    			border-radius: 50px;
	    			height: 75px;
	    			margin-bottom: 0;
	    			width: 75px;
	    		}
	    		.star-wrapper {
					margin-left: 20px;
	    		}
	    	}
		}
	}
}

/* All Carousels */
.star-rating {
	display: flex;
	span {

	}
	p {

	}
}

/* Next and previous buttons */
.carousel {
	.flickity-prev-next-button {
		background: transparent;
	}

	.flickity-prev-next-button:hover {
		background: transparent;
	}

	/* arrow color */
	.flickity-prev-next-button .arrow {
		fill: lighten($black, 75%);
	}

	.flickity-prev-next-button.no-svg {
		fill: lighten($black, 75%);
	}

	/* position outside */
	.flickity-prev-next-button.previous {
		left: -40px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.flickity-prev-next-button.next {
		right: -40px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}