form.wai-form {
	display: flex;
	background: white;
	border-radius: 100px;
	@include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 0;
        background: transparent;
    }
	.wai-form-group {
		border-right: 1px solid lighten($black, 92%);
		position: relative;
		@include media-breakpoint-down(sm) {
			flex-basis: 90%;
            border-right: none;
            margin-bottom: 20px;
        }
		&.no-border {
			border-right: 0;
		}
		.label {
			font-size: 12px;
			color: lighten($black, 20%);
			text-align: left;
			padding: 10px 20px 0 20px;
			box-sizing: border-box;
			@include media-breakpoint-down(sm) {
                display: none;
            }
		}
		input {
			padding: 15px 20px;
			border: 0;
			font-family: 'ceragr-blackuploaded_file';
			color: lighten($black, 60%);
			font-size: 14px;
			height: 100%;
			width: 100%;
			@include media-breakpoint-down(sm) {
                
            }
		}
		span {
			color: $pink;
			position: absolute;
			right: 20px;
			top: 22px;
			font-size: 20px;
			margin-left: 5px;
			@include media-breakpoint-down(md) {
                top: 15px;
            }
			@include media-breakpoint-down(sm) {
                top: 20px;
            }
			&.icon-magnifier {
				color: $pink;
				transform: scaleX(-1);
			}
		}
		input::placeholder {
			color: lighten($black, 60%);
		}
	}
	&.hero-form {
		input {
			// border-radius: 100px;
			background-color: transparent;
			padding: 0 20px 10px 20px;
			height: auto;
			@include media-breakpoint-down(sm) {
				background-color: white;
				border-radius: 100px;
				height: 100%;
				padding: 20px 20px;        
		    }
		}
	}
}

form.booking-form {
	background: rgba(255,255,255,0.9);
	border-radius: 10px;
	padding: 40px;
	width: 100%;
	z-index: 1;
	&.details-form {
		padding: 0;
		text-align: left;
		h1 {
			margin-bottom: 5px;
			text-align: left;
		}
		h3 {
			font-size: 1.2rem;
			font-weight: 300;
			color: $pink;
			margin-bottom: 15px;
		}
		button.wai-btn {
			&.details-btn {
				display: inline-block;
				font-size: 10px;
				min-width: 150px;
				padding: 10px;
				width: 150px;
				@include media-breakpoint-down(sm) {
					font-size: 14px;
					padding: 15px;
			        width: 100%;         
			    }
			}
		}
	}
	&.block-input {
		background: none;
	}
	@include media-breakpoint-down(sm) {
		padding: 30px;
        width: 100%;         
    }
	h1 {
		text-align: center;
	}
	.booking-form-group {
		display: flex;
		margin-bottom: 20px;
		justify-content: space-between;
		&.details-form-group {
			margin-bottom: 20px;
			@include media-breakpoint-down(sm) {
					flex-direction: column;
			        width: 100%;         
			}
			&.form-group-extra {
				margin-bottom: 30px;
			}
		}
		.select-wrapper {
			display: flex;
			position: relative;
			width: 100%;
			&.select-row {
				width: 48%;
				@include media-breakpoint-down(sm) {
			        width: 100%;
			        margin-bottom: 15px;         
			    }
				&.select-short {
					width: 45%;
				}
			}
			span {
				align-items: center;
				color: lighten($black, 60%);
				position: absolute;
				right: 15px;
				top: 13px;
				font-size: 14px;
				&.icon-magnifier {
					color: $pink;
					transform: scaleX(-1);
				}
			}
		}
		select, input {
			appearance: none;
			background-color: lighten($black, 90%);
			border: none;
			border-radius: 50px;
			font-size: 12px;
			padding: 10px 15px;
			width: 100%;
			@include media-breakpoint-down(sm) {
		        padding: 14px 12px;
		    }
		}
		input::placeholder, select, option, input[type="date"], input[type="time"] {
			color: lighten($black, 60%);
			font-size: 12px;
		}
	}
	.price-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
		.from {
			p {
				color: #292b2c;
				font-size: 10px;
				font-weight: 600;	
			}
		}
		.price {
			p, small {
				color: $pink;
				font-family: 'lato', sans-serif;
				font-weight: 600;
			}
		}
	}
	button.wai-btn {
		display: block;
		margin: 0 auto;
		font-size: 12px;
		margin-bottom: 20px;
		width: 75%;
	}
	.form-logos {
		display: flex;
		justify-content: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
form.sticky-block-form {
	input, select {
		background-color: $purple;
		border: 1px solid darken($white, 15%);
		border-radius: 3px;
		color: white;
		font-size: 13px;
		margin-top: 10px;
		outline: none;
		padding: 6px;
		padding-right: 5px;
		text-align: right;
		width: 100%;
		option {
			color: $purple;
			background: white;
		}
		&.calendar {
			margin-top: 0px;
		}
		&.form-control {
			background-color: $purple;
			text-decoration: none;
			outline: none;
		}
		td.active {
			background: red;
		}
	}
	input::placeholder {
		color: white;
		font-size: 13px;
		text-align: right;
	}
	.input-wrapper {
		position: relative;
		span {
			color: darken($white, 10%);
			position: absolute;
			left: 12px;
			top: 17px;
			font-size: 18px;
			&.cal-pos {
				top: 6px;
			}
		}
	}
	select {
		height: 32px;
		direction: rtl;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	}
	option {
		direction: rtl;
	}

}