form.wai-form {
	display: flex;
	background: white;
	border-radius: 100px;
	@include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 0;
        background: transparent;
    }
	.wai-form-group {
		border-right: 1px solid lighten($black, 92%);
		position: relative;
		@include media-breakpoint-down(sm) {
			flex-basis: 90%;
            border-right: none;
            margin-bottom: 20px;
        }
		&.no-border {
			border-right: 0;
		}
		input {
			padding: 15px 20px;
			border: 0;
			font-family: 'ceragr-blackuploaded_file';
			color: lighten($black, 60%);
			font-size: 14px;
			height: 100%;
			@include media-breakpoint-down(sm) {
                width: 100%;
            }
		}
		span {
			position: absolute;
			right: 20px;
			top: 18px;
			font-size: 20px;
			@include media-breakpoint-down(sm) {
                top: 17px;
            }
			&.icon-magnifier {
				color: $pink;
				transform: scaleX(-1);
			}
		}
		input::placeholder {
			color: lighten($black, 60%);
		}
	}
	&.hero-form {
		input {
			border-radius: 100px;
		}
	}
}

form.booking-form {
	background: rgba(255,255,255,0.9);
	border-radius: 10px;
	padding: 40px;
	width: 100%;
	z-index: 1;
	@include media-breakpoint-down(sm) {
		padding: 30px;
        width: 90%;         
    }
	h1 {
		text-align: center;
	}
	.booking-form-group {
		display: flex;
		margin-bottom: 20px;
		justify-content: space-between;
		.select-wrapper {
			position: relative;
			width: 100%;
			&.select-short {
				flex-direction: column;
				width: 45%;
			}
			span {
				align-items: center;
				color: lighten($black, 60%);
				position: absolute;
				right: 12px;
				top: 15px;
				font-size: 14px;
				&.icon-magnifier {
					color: $pink;
					transform: scaleX(-1);
				}
			}
		}
		select, input {
			appearance: none;
			background-color: lighten($black, 90%);
			border: none;
			border-radius: 3px;
			padding: 8px 12px;
			width: 100%;
		}
		input::placeholder, select, option, input[type="date"], input[type="time"] {
			color: lighten($black, 60%);
			font-size: 12px;
		}
	}
	.price-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
		.from {
			p {
				color: #292b2c;
				font-size: 10px;
				font-weight: 600;	
			}
		}
		.price {
			p, small {
				color: $pink;
				font-family: 'lato', sans-serif;
				font-weight: 600;
			}
		}
	}
	button.wai-btn {
		text-align: center;
		display: block;
		margin: 0 auto;
		font-size: 9px;
		margin-bottom: 20px;
		width: 50%;
	}
	.form-logos {
		display: flex;
		justify-content: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}