.login-modal {
    display: none;
    // opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // z-index: 1000;
    &.login-modal:target {
    /** Show lightbox when it is target */
        display: block;
        outline: none;
    }
    .box {
        background-color: $pink;
        min-width:100%;
        min-height: 100%;
        margin: 0 auto;
        padding:200px 300px;
        z-index: 5000;
        @include media-breakpoint-down(sm) {
            padding: 90px 30px;
        } 
        a.close {
            display:block;
            font-size:12px;
            text-decoration:none;
        }
        .content {
            display: flex;
            justify-content: center;
            margin: auto;
            opacity: 1;
            z-index: 9000;
            form {
                display: flex;
                flex-direction: column;
                margin: auto;
                opacity: 1;
                padding: 40px;
                z-index: 9999;
                h3 {
                    text-align: center;
                }
            }
            .button-wrapper {
                display: flex;
                button {
                    flex-grow: 1;
                }
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                } 
            }  
        }
    }
}