.login-modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    &.login-modal:target {
        display: block;
        outline: none;
    }
    .box {
        background-color: $pink;
        min-width:100%;
        min-height: 100%;
        margin: 0 auto;
        padding:200px 350px;
        // z-index: 5000;
        @include media-breakpoint-down(lg) {
            padding: 200px 300px;
        }
        @include media-breakpoint-down(md) {
            padding: 200px 200px;
        }
        @include media-breakpoint-down(sm) {
            padding: 50px 20px;
        }  
        a.close {
            display: block;
            font-size: 12px;
            text-decoration: none;
        }
        .content {
            display: flex;
            justify-content: center;
            margin: auto;
            form {
                display: flex;
                flex-direction: column;
                margin: auto;
                padding: 40px;
                h3 {
                    text-align: center;
                }
            }
            .button-wrapper {
                display: flex;
                button {
                    flex-basis: 49%;
                }
                @include media-breakpoint-down(md) {
                    flex-basis: 46%;
                } 
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                } 
            }  
        }
    }
}