.wai-nav {
	.logo {
		margin-top: -10px;
	}
	font-family: 'ceragr-blackuploaded_file';
	padding: 40px 20px 30px 20px;
	background-color: $pink;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;

	&.wai-nav-green {
		background-color: $green;
	}
	a {
		color: white;
		margin-right: 20px;
	}
}