section.createparty-main {
	display: flex;
	.carousels {
		flex: 2;
		padding: 40px;
		.carousel-wrapper {
			margin-bottom: 20px;
		}
	}
	.party-includes {
		background-color: $purple;
		flex: 1;
		padding: 40px;
		h2 {
			text-align: center;
			color: white;
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 20px;
		}
		.text {
			display: flex;
			justify-content: space-between;
			p {
				color: white;
				display: flex;
				font-size: 15px;
				font-weight: 300;
				&.bold {
					font-weight: 600;
				}
			}
		}
		.btn-wrapper {
			border-top: 1px solid white;
			padding-top: 20px;
			button.btn-text {
				font-size: 10px;
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
}