section.detailspage-main {
	display: flex;
	@include media-breakpoint-down(sm) {
            flex-direction: column;
    }
	.customer-details {
		flex: 2;
		padding: 40px;
		.details-pay-invite {
			display: flex;
			p {
				font-weight: 500;
				.muted {
					color: grey;
				}
			}
			.icon-chevron-right {
				font-size: 10px;
			}
		}
	}
	.party-includes {
		background-color: $purple;
		flex: 1;
		padding: 40px;
		h2 {
			color: white;
			font-size: 30px;
			font-weight: 300;
			margin-bottom: 40px;
		}
		.text-wrapper {
			border-top: 1px solid white;
			padding-top: 20px;
			.text {
				display: flex;
				font-family: 'lato', sans-serif !important;
				justify-content: space-between;
				&.total {
					justify-content: flex-end;
				}
				.checkbox {
					display: flex;
					align-items: baseline;
					p {
						margin-bottom: 0;
					}
					input {
						margin-left: 10px;
					}
				}
				p {
					color: white;
					display: flex;
					font-size: 15px;
					font-weight: 300;
					&.bold {
						font-weight: 600;
						&.large {
							font-size: 30px;
							margin-bottom: 0;	
						}
					}
				}
			}
			button.btn-text {
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
	.party-includes-fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 280px;
	}
}