//////// Form ////////
.form-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
	input{
		width: 100px !important;
	}
	input::placeholder {
		color: grey;
		font-family: 'ceragr-blackuploaded_file';
		font-size: 12px;
		padding-left: 5px;
	}

	.form-control{
		width: 50px;
	}

	.search {
		border-radius: 100px;
		border: none;
	}

	.wai-search-btn {
		border: none;
		border-radius: 0;
		background: none;
	}

	.fa-search {
		color:$pink;
	}

	.form-cust {
		background-color: white;
		border-radius: 100px;
		width: 558px;
		height: 50px;
		margin: auto;
	}

	.custom-select {
		background: none;
		border-radius: 0px;
		border-top: none;
		border-bottom: none;
		border-right: none;
		color: grey;
		font-family: 'ceragr-blackuploaded_file';
		font-size: 12px;
	}

	select {
		appearance: none;
	}
}

section.party-packages {
	margin-bottom: 90px;
}