section.packpage-carousel {
	background: lighten($black, 95%);
	padding: 90px 0;
}
section.packpage-main {
	display: flex;
	.perfect-package {
		flex: 2;
		padding: 40px;
		.video {
			margin-bottom: 40px;
		}
		.images {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			h2 {
				color: $pink;
				font-family: 'ceragr-blackuploaded_file';
				text-transform: uppercase;
				font-size: 19px;
				letter-spacing: 1px;
			}
			.item {
				flex-direction: column;
				margin-bottom: 20px;
				img {
					display: flex;
					height: 200px;
					margin-bottom: 20px;
					@include media-breakpoint-down(lg) {
		                height: 175px;
		            }
		            @include media-breakpoint-down(md) {
		                height: 150px;
		            }
				}
			}
		}
		.description {
			h2 {
				font-size: 19px;
				font-weight: 300;
				margin-bottom: 20px;
			}
			p {
				font-size: 15px;
			}
		}
	}
	.party-includes {
		background-color: $purple;
		flex: 1;
		padding: 40px;
		h2 {
			text-align: center;
			color: white;
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 20px;
		}
		.text-wrapper {
			border-top: 1px solid white;
			padding-top: 20px;
			.text {
				display: flex;
				justify-content: space-between;
				&.total {
					flex-direction: column;
				}
				p {
					color: white;
					display: flex;
					font-size: 15px;
					font-weight: 300;
					&.bold {
						font-weight: 600;
						&.large {
							font-size: 20px;	
						}
					}
				}
			}
			button.btn-text {
				font-size: 10px;
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
	.party-includes-fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 280px;
	}
} 