section.packpage-carousel {
	background: lighten($black, 95%);
	padding: 90px 0;
}
section.packpage-detail {
	display: flex;
	.perfect-package {
		flex: 2;
		padding: 40px;
		.video {
			margin-bottom: 40px;
		}
		.images {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.item {
				display: flex;
				margin-bottom: 20px;
			}
		}
	}
	.party-includes {
		background-color: $purple;
		flex: 1;
	}
	.party-includes-fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 280px;
	}
}