section.detailspage-main {
	display: flex;
	@include media-breakpoint-down(sm) {
            flex-direction: column;
    }
	.customer-details {
		flex: 2;
		padding: 60px 40px;
		@include media-breakpoint-down(sm) {
	        padding: 60px 20px;        
	    }
		h1 {
			margin-bottom: 30px;
		}
		.details-pay-invite {
			display: flex;
			p {
				font-weight: 400;
				&.muted {
					color: grey;
					span {
						margin-left: 2px;
					}
				}
			}
			.icon-chevron-right {
				font-size: 10px;
			}
		}
	}
	.party-includes-fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 280px;
	}
}