section.thankyou-main {
    .container {
        // display: flex;
        // flex-direction: column;
        // flex-wrap: nowrap;
        // justify-content: space-between;
        padding: 60px 150px;
        @include media-breakpoint-down(lg) {
            padding: 60px 50px;
        }
        @include media-breakpoint-down(md) {
            padding: 40px 30px;
        }
        h1.thankyou {
            font-size: 40px;
            font-weight: 900;
            // margin-top: 30px;
            margin-bottom: 10px;
            text-align: center;
        }
        p.thankyou {
            margin-bottom: 40px;
            text-align: center;
        }
        .thankyou-content {
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
            }
            .invite-buttons {
                .invite {
                    background: url(../../images/hero-packpage.png) center center;
                    background-size: cover;
                    box-shadow: 0 0 20px grey;
                    padding: 20px 40px;
                    color: white;
                    h1 {
                        color: white;
                        font-family: 'ceragr-blackuploaded_file';
                        font-size: 45px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    p {
                        margin-bottom: 10px;
                        font-size: 14px;
                        font-weight: 400;
                        &.center {
                            text-align: center;
                        }
                        strong {
                            font-weight: 800;
                        }
                    }
                    .invite-details {
                        display: flex;
                        .light {
                         flex: 1;
                        }
                        .bold {
                        flex: 1;
                            p {
                                font-weight: 800;  
                            }
                        }
                    }
                }
                .buttons-wrapper {
                    display: flex;
                    margin-top: 30px;
                    justify-content: space-between;
                    @include media-breakpoint-down(sm) {
                        flex-direction: column;
                        width: 100%;
                    } 
                    button {
                        box-shadow: 0 0 20px lighten($black, 70%);
                    }
                }
            }
            .email-form {
                h1 {
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 30px;
                }
                input {
                    margin-bottom: 10px;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 30px;
                }
            }
        }
    }
}